<div class="container mt-5">

<div class="card book-confirmation">
  <h1>Offer your Home</h1>
  <h4>
    Let your possible renters know which kind of home you are offering by sharing the brand, location, price per day and the size. Don't forget your friendly description.</h3>
  </h4>
  <br>
  <%= render 'form-new', property: @property %>
  <br>
  <%= link_to 'Back to list of properties', properties_path %>
</div>
</div>
