// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom color schema
$navigation-brown:#532e1c;
$links-info: #e6e6e6;
$links-danger: #c5a880;
$text-gray: #0f0f0f;

$BackToClose-animationDuration: 1s;
$BackToClose-animationEasingFunction: ease;
